.onboarding__slider {
  .MuiPaper-root {
    background: rgb(14, 14, 14);
    width: 700px;

    // overflow: hidden !important;
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      width: 500px;
    }
    @media only screen and (min-device-width: 1023px) and (max-device-width: 1024px) and (orientation: portrait) {
      width: 700px;
    }
  }
}

.swipeable__onboarding {
  width: 700px;
  height: 100%;
  position: relative;
  .react-swipeable-view-container {
    max-width: 700px;
  }

  @media screen and (max-width: 500px) {
    width: 100%;
    .react-swipeable-view-container {
      max-width: 100vw;
    }
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    width: 500px;
    .react-swipeable-view-container {
      max-width: 500px;
    }
  }

  @media only screen and (min-device-width: 1023px) and (max-device-width: 1024px) and (orientation: portrait) {
    width: 700px;
    .react-swipeable-view-container {
      max-width: 700px;
    }
  }
}

#recaptcha-container {
  display: none;
}

#recaptcha-container2 {
  display: none;
}

.recaptcha {
  display: none;
}

.error__message {
  position: absolute;
  bottom: 6.5%;
  color: rgb(27, 27, 27);
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(221, 221, 221, 0.8);
  padding: 8px 25px 10px 25px;
  border-radius: 50px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
}

.phone__error__message {
  position: absolute;
  margin-top: 2.5px;
  font-size: 11px;
  color: rgb(248, 88, 88);
  text-align: left;
  animation: peekErrorUp ease 6s both;

  svg {
    font-size: 16px;
    margin-right: 5px;
  }
}

.slide__page {
  overflow: hidden;
  background: black;

  .first__page__inner {
    position: relative;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      width: 0 !important;
    }

    .top__area {
      margin: 15px;
      display: flex;
      justify-content: flex-start;

      button {
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 50%;

        svg {
          color: rgb(223, 223, 223);
          font-size: 36px;
          padding: 3px;
          transition: all 0.25s ease;
        }

        &:hover {
          svg {
            color: white;
            transform: scale(1.1);
            transition: all 0.25s ease;
          }
        }
      }
    }

    .plan__success {
      text-align: center;
      img {
        width: 200px;
        margin: auto;
        margin-top: -1.5rem;

        @media screen and (max-width: 500px) {
          width: 145px;
          margin-top: -3rem;
        }
      }

      h6 {
        margin-top: 0.2rem;
        color: white;
        font-size: 1.15rem;
        font-weight: 400;
        margin-bottom: 0.25rem;
        letter-spacing: 0.65px;

        span {
          font-style: oblique;
        }

        @media screen and (max-width: 500px) {
          margin-top: 0.5rem;
          margin-bottom: 1.5rem;
          font-size: 1rem;
        }
      }
    }

    .snippet__video {
      width: 100%;
      margin-top: 1.5rem;

      @media screen and (max-width: 500px) {
        margin-top: 2.5rem;
      }
    }
    .registration__page {
      position: absolute;
      top: 77vh;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 320px;
      max-width: 320px;
      text-align: center;

      @media screen and (max-width: 500px) {
        min-width: 340px;
        max-width: 340px;
        padding: 10px;
        border-radius: 10px;
        top: 73vh;
        box-shadow: inset 0 0 2000px rgba(0, 0, 0, 0.35);
        backdrop-filter: blur(5px);
      }

      @media screen and (max-width: 360px) {
        transform: translate(-50%, -50%) scale(0.8);
      }

      .phone__number {
        margin: auto;
        text-align: center;
        .react-tel-input {
          width: 100%;
          z-index: 1000;
          margin: auto;

          .form-control {
            font-family: "Montserrat";
            border-radius: 7.5px;
            height: 44px;
            width: 100%;
            font-size: 18px;
            font-weight: 500;
            padding-top: 2px;
            padding-left: 65px;
            background: #2c2e39;
            color: white;
            border-color: #2c2e39;
          }

          .flag-dropdown {
            border-radius: 7.5px 0 0 7.5px;
            width: 60px;
            background-color: #2c2e39 !important;
            border-color: #2c2e39 !important;
            border-right: none;

            &.open {
              background-color: #2c2e39 !important;
              border-color: #2c2e39 !important;
            }

            .selected-flag {
              width: 100%;
              padding-left: 14px;
              background-color: #2c2e39 !important;
              border-color: #2c2e39 !important;
              .flag {
                transform: scale(1.6);
              }
            }
          }

          .country-list {
            text-align: left;
            width: 320px;
            margin-top: -4px;
            padding-top: 2px;
            margin-left: -1.5px;
            border-radius: 0 0 7.5px 7.5px;
            border: 1px solid #cacaca;
            box-shadow: none;
            border-top: none;
            animation: 0.25s increaseListHeight ease;
            animation-fill-mode: both;
            background-color: #2c2e39 !important;
            border-color: #2c2e39 !important;
            color: white;

            .country {
              &:hover {
                background-color: #45495c !important;
              }
              &.highlight {
                background-color: #45495c !important;
              }
            }

            li {
              span {
                font-family: "Montserrat";
                user-select: none;
              }
              .dial-code {
                color: rgb(187, 187, 187);
              }
            }
            &::-webkit-scrollbar-track {
              background-color: transparent;
            }
            &::-webkit-scrollbar {
              width: 10px;
              background-color: transparent;
            }
            &::-webkit-scrollbar-thumb {
              background-color: rgb(173, 165, 165);
              border-radius: 5px;
              &:hover {
                background-color: rgb(184, 152, 152);
              }
            }
          }
        }

        button {
          min-width: 100%;
          min-height: 44px;
          max-height: 44px;
          font-size: 17px;
          font-weight: 400 !important;
          background-color: var(--color-highlight);
          color: rgb(235, 235, 235);
          border: none;
          outline: none;
          border-radius: 7.5px;
          margin-top: 35px;
          font-weight: 500;
          cursor: pointer;
          z-index: 0;

          div {
            width: 42px !important;
            transform: scale(0.85) translateY(2px) translateX(-2px);
            filter: invert(1) saturate(0) brightness(2);
          }
        }
      }

      .or__line {
        display: flex;
        justify-content: space-between;
        margin: auto;
        margin-top: 20px;

        h6 {
          width: calc(50% - 16px);
          background: rgba(255, 255, 255, 0.25);
          height: 1px;
          margin-top: 7px;
        }

        h5 {
          color: rgba(255, 255, 255, 0.75);
          font-weight: 400;
          font-size: 12px;
        }
      }

      .social__buttons {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        .google,
        .facebook {
          width: 152.5px;
          background: #2c2e39;
          border: none;
          border-radius: 7.5px;
          padding: 8px 12px 7px 12px;
          display: flex;
          align-items: center;
          cursor: pointer;
          height: 44px;

          > div {
            filter: invert(1) grayscale(1);
          }

          img {
            width: 22px;
            height: 22px;
          }

          h6 {
            font-size: 15px;
            text-align: center;
            width: calc(100% - 26px);
            font-weight: 400;
            position: relative;
            color: white;
          }
        }

        .facebook {
          margin-right: 7.5px;
        }

        .google {
          margin-left: 7.5px;

          img {
            padding-top: 1px;
          }
        }
      }

      .signin__apple {
        button {
          margin-top: 15px;
          width: 100%;
          background: white;
          border: none;
          border-radius: 7.5px;
          padding: 8px 12px 7px 12px;
          display: flex;
          align-items: center;
          cursor: pointer;
          height: 44px;

          h6 {
            font-size: 18px;
            text-align: center;
            width: calc(100% - 28px);
            font-weight: 500;
            position: relative;
            color: rgb(44, 44, 44);
          }

          img {
            width: 23px;
            height: 23px;
            filter: invert(1);
          }
        }
      }
    }

    .agreements {
      margin-top: 60px;
      bottom: 0px;
      text-align: center;

      h6 {
        color: rgba(235, 235, 235, 0.9);
        font-weight: 400;
        font-size: 12px;
      }

      div {
        display: flex;
        justify-content: center;
        margin-top: 5px;
        margin-bottom: -10px;

        h5 {
          color: rgba(226, 226, 226, 0.9);
          margin: auto 5px;
          font-weight: 400;
          font-size: 11px;
          cursor: pointer;
          a {
            border-bottom: 1px dotted rgba(235, 235, 235, 0.719);
          }
        }
      }

      @media screen and (max-width: 500px) {
        margin-top: 50px;
      }
    }
  }

  .second__page__inner {
    overflow: hidden;
    height: 100vh;
    background: black;
    position: relative;

    &.slideInLeft {
      animation: fadeIn 0.5s ease both;
    }

    .top__area {
      margin: 15px;
      display: flex;
      justify-content: space-between;

      .checking__otp {
        position: absolute;
        right: 10px;
        top: 2.5px;
        div {
          height: 60px !important;

          svg {
            width: 38px !important;
          }
        }
      }

      div {
        display: flex;
        align-items: flex-start;
        button svg {
          transform: translateX(4px);
          padding: 3px 6px;
        }
      }
      .launch__lottie {
        width: 60px !important;
        position: absolute;
        right: 15px;
        top: 0px;
        > div {
          width: 60px !important;
          animation: moveForward 1s linear both;
        }

        @media screen and (max-width: 500px) {
          top: -3px;
          > div {
            width: 50px !important;
            animation: moveForward2 0.75s linear both;
          }
        }
      }

      h6 {
        margin-left: 10px;
        font-size: 26px;
        color: white;
      }

      button {
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 50%;
        margin-top: -1px;

        svg {
          color: lightgrey;
          font-size: 36px;
          padding: 3px;
        }
        > div {
          filter: grayscale(1) brightness(5);
        }

        &:hover {
          background-color: rgb(88, 88, 88);
        }
      }
    }

    .otp__input {
      width: 100%;
      margin-top: 2rem;

      .already__exists {
        color: gold;
        margin-left: 30px;
        font-weight: 500;
      }

      .sent__to {
        color: white;
        margin-left: 30px;
        margin-bottom: 2rem;
        font-weight: 400;
      }

      h6 {
        visibility: hidden;
        transition: visibility 0.2s ease;
        position: absolute;
        width: 100%;
      }

      &.otp__error {
        div {
          div {
            div {
              border-color: rgba(220, 20, 60, 0.747) !important;
              input {
                color: red;
                animation: swingNumber 0.82s
                  cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
              }
            }
          }
        }

        h6 {
          margin-top: 0.6rem;
          text-transform: capitalize;
          color: rgb(221, 196, 201);
          font-weight: 500;
          text-align: center;
          font-size: 14px;
          visibility: visible;
          transition: visibility 0.2s ease;
          svg {
            font-size: 20px;
            vertical-align: -0.05rem;
            margin-right: 0.25rem;
          }
        }
      }
      div div {
        justify-content: center;
        display: flex;
        div {
          width: 50px !important;
          height: 54px;
          margin: auto 7.5px;
          border-bottom: 3px solid rgba(255, 255, 255, 0.5);
          transition: border 0.2s ease;
          input {
            width: 50px !important;
            height: 50px;
            text-align: center;
            background-color: transparent;
            color: rgb(0, 207, 0);
            outline: none;
            border: none;
            border-radius: 0;
            font-family: digital;
            font-size: 44px;
            text-shadow: 0px 0px 8px rgba(255, 255, 0, 0.75);
            // -moz-user-select: none;
            // -webkit-user-select: none;
            // user-select: none;
          }
          &:focus {
            transition: border 0.2s ease;
            border-bottom: 3px solid white;
          }
        }
      }
    }

    .planets__wrapper {
      position: relative;
      margin-top: 2rem;
      img {
        position: absolute;
      }

      .planet1 {
        width: 100px;
        height: 100px;
        top: 10rem;
        right: 2.75rem;
        opacity: 0.65;
        animation: 8s animatePlanet ease infinite both;
        animation-delay: 2.5s;
        transition: opacity 0.25s ease;

        &.one {
          opacity: 1;
          transition: opacity 0.25s ease;
        }
      }
      .planet2 {
        width: 80px;
        height: 80px;
        top: 2rem;
        left: 15%;
        opacity: 0.7;
        transition: opacity 0.25s ease;
        animation: 7s animatePlanet2 ease infinite both;
        animation-delay: 0.5s;

        &.two {
          opacity: 1;
          transition: opacity 0.25s ease;
        }
      }
      .planet3 {
        width: 70px;
        height: 70px;
        top: 12rem;
        left: 3rem;
        opacity: 0.65;
        animation: 7s animatePlanet2 ease infinite both;
        transition: opacity 0.25s ease;

        &.three {
          opacity: 1;
          transition: opacity 0.25s ease;
        }
      }
      .planet4 {
        width: 40px;
        height: 40px;
        top: 12rem;
        left: 28%;
        opacity: 0.7;
        animation: 8s animatePlanet ease infinite both;
        animation-delay: 0.25s;
        transition: opacity 0.25s ease;

        &.four {
          opacity: 1;
          transition: opacity 0.25s ease;
        }
      }

      .planet5 {
        width: 70px;
        height: 70px;
        top: 0rem;
        right: 10%;
        opacity: 0.6;
        animation: 9s animatePlanet2 ease infinite both;
        animation-delay: 0.2s;
        transition: opacity 0.25s ease;

        &.five {
          opacity: 1;
          transition: opacity 0.25s ease;
        }
      }

      .planet6 {
        width: 80px;
        height: 80px;
        top: 8rem;
        left: 40%;
        opacity: 0.5;
        animation: 6s animatePlanet ease infinite both;
        transition: opacity 0.25s ease;

        &.six {
          opacity: 1;
          transition: opacity 0.25s ease;
        }
      }
    }
    .enter__code {
      position: relative;
      margin-top: 5.5rem;

      .earth {
        position: absolute;
        top: 30rem;
        left: -4.5rem;
        width: 340px;
      }

      .resend__code {
        position: absolute;
        top: 20rem;
        left: 4rem;

        h4 {
          color: white;
          font-size: 1.25rem;
          cursor: pointer;
          font-weight: 400;
          user-select: none;
          transition: all 0.125s ease;
        }

        h6 {
          font-size: 0.85rem;
          font-weight: 400;
          user-select: none;
          color: lightgrey;
          cursor: pointer;
        }

        &.grey {
          h4 {
            color: lightgrey;
            cursor: not-allowed;
            transition: all 0.125s ease;
          }
          h6 {
            color: lightgrey;
            cursor: default;
          }
        }
      }

      .code {
        width: 350px;
        position: absolute;
        top: -1rem;
        left: 38%;
      }

      .tapBg {
        background: rgba(253, 55, 95, 0.55);
        border-radius: 50%;
        width: 24px;
        height: 24px;
        position: absolute;
        top: 19.7rem;
        left: 67%;
        opacity: 0;

        &.zero {
          animation: 0.25s animateTapZero both;
        }

        &.one {
          animation: 0.25s animateTapOne both;
        }

        &.two {
          animation: 0.25s animateTapTwo both;
        }

        &.three {
          animation: 0.25s animateTapThree both;
        }

        &.four {
          animation: 0.25s animateTapFour both;
        }

        &.five {
          animation: 0.25s animateTapFive both;
        }

        &.six {
          animation: 0.25s animateTapSix both;
        }

        &.seven {
          animation: 0.25s animateTapSeven both;
        }

        &.eight {
          animation: 0.25s animateTapEight both;
        }

        &.nine {
          animation: 0.25s animateTapNine both;
        }
      }

      .hand {
        width: 400px;
        position: absolute;
        top: 8rem;
        right: -5rem;

        &.zero {
          animation: 0.25s animateZero ease both;
        }

        &.one {
          animation: 0.25s animateOne ease both;
        }

        &.two {
          animation: 0.25s animateTwo ease both;
        }

        &.three {
          animation: 0.25s animateThree ease both;
        }

        &.four {
          animation: 0.25s animateFour ease both;
        }

        &.five {
          animation: 0.25s animateFive ease both;
        }

        &.six {
          animation: 0.25s animateSix ease both;
        }

        &.seven {
          animation: 0.25s animateSeven ease both;
        }

        &.eight {
          animation: 0.25s animateEight ease both;
        }

        &.nine {
          animation: 0.25s animateNine ease both;
        }
      }
    }
  }

  .third__page__inner {
    height: 100vh;
    position: relative;
    overflow: hidden;

    .agreements {
      z-index: 100;
      margin-top: 60px;
      bottom: 25px;
      text-align: center;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;

      h6 {
        color: rgba(235, 235, 235, 0.9);
        font-weight: 400;
        font-size: 12px;
      }

      div {
        display: flex;
        justify-content: center;
        margin-top: 5px;
        margin-bottom: -10px;

        h5 {
          color: rgba(226, 226, 226, 0.9);
          margin: auto 5px;
          font-weight: 300;
          font-size: 12px;
          cursor: pointer;
          border-bottom: 1px dotted rgba(235, 235, 235, 0.719);
        }
      }

      @media screen and (max-width: 500px) {
        margin-top: 40px;
      }
    }

    .astronaut__lottie {
      position: absolute;
      top: 20%;
      width: 40%;
      right: -5%;
      transform: rotate(45deg);
    }

    .top__area {
      margin: 25px 0 0 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 8;
      position: relative;

      .sending__otp {
        width: 37px;
        margin-top: -2px;
        svg {
          width: 37px !important;
        }
      }

      div {
        display: flex;
        align-items: flex-start;
        button {
          height: 36px;
          width: 36px;
          svg {
            transform: translateX(5px) translateY(-3px);
          }
        }
      }

      &.third__page {
        button {
          width: 37px;
          margin-left: -7.5px;
          margin-top: 1px;

          svg {
            margin-left: 5px;
            margin-top: -1px;
          }
        }
        justify-content: flex-start !important;
      }

      h6 {
        margin-left: 0px;
        font-size: 26px;
        color: white;
        position: relative;
      }

      button {
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 50%;
        margin-right: 1rem;
        padding-top: 2px;

        div {
          width: 36px !important;
          height: 36px !important;
          filter: invert(1) saturate(0) brightness(2);
        }

        svg {
          color: lightgrey;
          font-size: 36px;
          padding: 4px;
        }

        &:hover {
          background-color: rgb(88, 88, 88);
        }
      }
    }

    .phone__social {
      position: absolute;
      bottom: 0;
      width: 60%;
    }

    .phone__input {
      margin: 3.5rem 5rem;
      text-align: center;
      .react-tel-input {
        width: 100%;
        margin: auto;

        .form-control {
          font-family: "Montserrat";
          border-radius: 7.5px;
          height: 60px;
          width: 100%;
          font-size: 24px;
          font-weight: 500;
          padding-top: 2px;
          padding-left: 68px;
          background: rgb(22, 22, 22);
          color: white;
          border: none;
        }

        .flag-dropdown {
          border-radius: 7.5px 0 0 7.5px;
          width: 60px;
          background-color: rgb(22, 22, 22);
          border: none;

          .selected-flag {
            background-color: rgb(22, 22, 22) !important;
            margin-top: 2px;
            padding-left: 20px;
            border-radius: 7.5px;

            .flag {
              transform: scale(1.6);

              .arrow {
                border-top: 4px solid white;
              }
            }
          }
        }

        .country-list {
          text-align: left;
          width: calc(700px - 10rem);
          margin-top: -4px;
          margin-left: 1px;
          padding-top: 2px;
          border-radius: 0 0 7.5px 7.5px;
          border: none;
          background: rgb(22, 22, 22);
          box-shadow: none;
          border-top: none;
          animation: 0.25s increaseListHeight ease;
          animation-fill-mode: both;

          li {
            .country-name {
              color: white;
            }

            .dial-code {
              color: lightgrey;
            }
            span {
              font-family: "Montserrat";
              user-select: none;
            }
            &.highlight,
            &:hover {
              background: rgb(58, 58, 58);
            }

            &.divider {
              border-color: rgb(80, 80, 80);
            }
          }

          &::-webkit-scrollbar-track {
            background-color: transparent;
          }
          &::-webkit-scrollbar {
            width: 10px;
            background-color: transparent;
          }
          &::-webkit-scrollbar-thumb {
            background-color: rgb(173, 165, 165);
            border-radius: 5px;
            &:hover {
              background-color: rgb(184, 152, 152);
            }
          }
        }
      }

      h6 {
        color: grey;
        font-size: 18px;
        position: relative;
        text-align: left;
        padding-left: 50px;
        font-weight: 500;
      }

      h6:nth-child(even) {
        padding-top: 20px;
      }
    }

    .social__accounts {
      z-index: 5;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%);

      button {
        width: 340px;
        background: rgb(255, 255, 255);
        border: none;
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding: 12px 32px;

        h6 {
          font-size: 16px;
          text-align: left;
          width: calc(100% - 33px);
          font-weight: 500;
          padding-left: 15px;
          position: relative;

          div {
            position: absolute;
            top: 50%;
            right: -5px;
            transform: translateY(-50%);
            width: 32px !important;
            height: 32px !important;
            filter: invert(1) saturate(0) brightness(0);
          }
        }
      }
      .facebook {
        margin-top: 20px;
        cursor: pointer;
        background-color: #4267b2;

        h6 {
          color: white;
          font-size: 15px;
        }
        img {
          width: 28px;
          height: 28px;
          margin-left: 8px;
        }
      }

      .google {
        cursor: pointer;

        img {
          width: 28px;
          height: 28px;
          margin-left: 6px;
        }
      }
    }
  }

  .fourth__page__inner {
    height: 100vh;
    position: relative;
    overflow: hidden;

    .top__area {
      margin: 25px 0 0 25px;
      display: flex;
      justify-content: space-between;
      z-index: 5;
      position: relative;

      div {
        display: flex;
      }

      h6 {
        margin-left: 10px;
        font-size: 26px;
        color: white;
      }

      button {
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 50%;

        svg {
          color: lightgrey;
          font-size: 36px;
          padding: 4px;
        }

        &:hover {
          background-color: rgb(88, 88, 88);
        }
      }
    }

    .select__classes {
      margin: 40px;
      margin-top: 4rem;
      z-index: 5;
      position: relative;

      .class__item {
        display: flex;
        align-items: center;
        margin: 10px auto;
        img {
          width: 50px;
          height: 50px;
          margin-right: 20px;
        }

        h6 {
          color: white;
          font-size: 1.25rem;
          cursor: pointer;
          user-select: none;
          transform: scale(1);
        }
      }
    }

    .comet {
      position: absolute;
      top: 10%;
      right: -30%;
      width: 60px;
      transform: rotate(135deg);
      animation: 6s cometAnimation linear infinite both;
      animation-delay: 1s;
    }

    .comet2 {
      position: absolute;
      top: 60%;
      left: -15%;
      width: 60px;
      transform: rotate(30deg);
      animation: 6s comet2Animation linear infinite both;
    }

    .gulu {
      right: 0%;
      bottom: 28%;
      position: absolute;
      z-index: 2;
      width: 300px;
      animation: 12s guluAnimation ease infinite both;
    }

    .mars {
      right: -10%;
      bottom: 1%;
      position: absolute;
      z-index: 1;
      width: 75%;
      aspect-ratio: 1;
      animation: 24s marsAnimation ease-in-out infinite both;
    }

    .control {
      bottom: 0;
      width: 100%;
      position: absolute;
      z-index: 3;
    }
  }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .error__message {
      font-size: 14px;
    }

    .second__page__inner {
      .top__area {
        margin: 15px 10px 0 10px;
      }
      .otp__input {
        margin-top: 2rem;
        div div {
          margin: auto 17.5px;
          justify-content: space-between;
          div {
            width: calc(calc(100% - 35px) / 3) !important;
            height: 42px;

            input {
              width: 100% !important;
              height: 40px;
              font-size: 34px;
              text-align: center;
            }
          }
        }
      }

      .planets__wrapper {
        margin-top: 2.5rem;
        .planet1 {
          width: 80px;
          height: 80px;
          top: 6rem;
          right: 1rem;
        }

        .planet2 {
          width: 70px;
          height: 70px;
          top: 1rem;
          left: 5%;
        }
        .planet3 {
          width: 55px;
          height: 55px;
          top: 10rem;
          left: 3.5%;
        }
        .planet4 {
          width: 30px;
          height: 30px;
          top: 8rem;
          left: 22%;
        }

        .planet5 {
          width: 70px;
          height: 70px;
          top: 0rem;
          right: 5%;
        }

        .planet6 {
          width: 80px;
          height: 80px;
          top: 4rem;
          left: 35%;
        }
      }
      .enter__code {
        min-height: 180vw;
        .code {
          max-width: 72.5%;
          top: -2rem;
          left: 23%;
        }
        .tapBg {
          width: 15px;
          height: 15px;
          top: 55%;
          left: 60%;

          &.zero {
            animation: 0.25s animateTap2Zero ease both;
          }
          &.one {
            animation: 0.25s animateTap2One ease both;
          }
          &.two {
            animation: 0.25s animateTap2Two ease both;
          }
          &.three {
            animation: 0.25s animateTap2Three ease both;
          }
          &.four {
            animation: 0.25s animateTap2Four ease both;
          }
          &.five {
            animation: 0.25s animateTap2Five ease both;
          }
          &.six {
            animation: 0.25s animateTap2Six ease both;
          }
          &.seven {
            animation: 0.25s animateTap2Seven ease both;
          }
          &.eight {
            animation: 0.25s animateTap2Eight ease both;
          }
          &.nine {
            animation: 0.25s animateTap2Nine ease both;
          }
        }
        .hand {
          width: 75%;
          position: absolute;
          top: 15%;
          right: -25%;

          &.zero {
            animation: 0.25s animate2Zero ease;
          }
          &.one {
            animation: 0.25s animate2One ease;
          }
          &.two {
            animation: 0.25s animate2Two ease;
          }
          &.three {
            animation: 0.25s animate2Three ease;
          }
          &.four {
            animation: 0.25s animate2Four ease;
          }
          &.five {
            animation: 0.25s animate2Five ease;
          }
          &.six {
            animation: 0.25s animate2Six ease;
          }
          &.seven {
            animation: 0.25s animate2Seven ease;
          }
          &.eight {
            animation: 0.25s animate2Eight ease;
          }
          &.nine {
            animation: 0.25s animate2Nine ease;
          }
        }

        .earth {
          bottom: 3.5%;
          top: auto;
          left: -15%;
          width: 84%;
        }
      }

      .resend__code {
        margin-top: 35%;
        top: 15% !important;
        left: 5% !important;

        h4 {
          font-size: 1rem !important;
        }

        h6 {
          font-size: 0.8rem !important;
        }
      }
    }

    .third__page__inner {
      .top__area {
        margin: 15px 0 0 10px;
      }
      .social__accounts {
        transform: translate(-50%) scale(0.9);
      }
      .astronaut__lottie {
        top: 30%;
        transform: rotate(45deg) scale(1.25);
      }

      .phone__input {
        margin: 2.5rem 2rem;

        .react-tel-input {
          .country-list {
            width: calc(100vw - 4rem);
          }
        }

        h6 {
          padding-left: 10px;
          font-size: 14px;
        }
      }
    }

    .fourth__page__inner {
      .top__area {
        margin: 15px 0 0 10px;
      }

      .select__classes {
        margin: 30px 20px;
        .class__item {
          img {
            width: 40px;
            height: 40px;
          }
          h6 {
            font-size: 1.1rem;
          }
        }
      }

      .gulu {
        bottom: 18%;
        width: 220px;
      }

      .mars {
        width: 85%;
      }
    }
  }

  @media only screen and (min-device-width: 1023px) and (max-device-width: 1024px) and (orientation: portrait) {
    .error__message {
      font-size: 17px;
    }

    .second__page__inner {
      .top__area {
        margin: 15px 10px 0 10px;
      }
      .otp__input {
        margin-top: 2rem;
        div div {
          margin: auto 17.5px;
          justify-content: space-between;
          div {
            width: calc(calc(100% - 35px) / 3) !important;
            height: 42px;

            input {
              width: 100% !important;
              height: 40px;
              font-size: 34px;
              text-align: center;
            }
          }
        }
      }

      .planets__wrapper {
        margin-top: 2.5rem;
        .planet1 {
          width: 100px;
          height: 100px;
          top: 10rem;
          right: 2.75rem;
        }

        .planet2 {
          width: 80px;
          height: 80px;
          top: 2rem;
          left: 15%;
        }
        .planet3 {
          width: 70px;
          height: 70px;
          top: 12rem;
          left: 3rem;
        }
        .planet4 {
          width: 40px;
          height: 40px;
          top: 12rem;
          left: 28%;
        }

        .planet5 {
          width: 70px;
          height: 70px;
          top: 0rem;
          right: 10%;
        }

        .planet6 {
          width: 80px;
          height: 80px;
          top: 8rem;
          left: 40%;
        }
      }
      .enter__code {
        min-height: auto;
        .code {
          width: 350px;
          position: absolute;
          top: -1rem;
          left: 38%;
        }
        .tapBg {
          width: 24px;
          height: 24px;
          top: 19.7rem;
          left: 67%;

          &.zero {
            animation: 0.25s animateTapZero both;
          }

          &.one {
            animation: 0.25s animateTapOne both;
          }

          &.two {
            animation: 0.25s animateTapTwo both;
          }

          &.three {
            animation: 0.25s animateTapThree both;
          }

          &.four {
            animation: 0.25s animateTapFour both;
          }

          &.five {
            animation: 0.25s animateTapFive both;
          }

          &.six {
            animation: 0.25s animateTapSix both;
          }

          &.seven {
            animation: 0.25s animateTapSeven both;
          }

          &.eight {
            animation: 0.25s animateTapEight both;
          }

          &.nine {
            animation: 0.25s animateTapNine both;
          }
        }
        .hand {
          width: 400px;
          position: absolute;
          top: 8rem;
          right: -5rem;

          &.zero {
            animation: 0.25s animateZero ease both;
          }

          &.one {
            animation: 0.25s animateOne ease both;
          }

          &.two {
            animation: 0.25s animateTwo ease both;
          }

          &.three {
            animation: 0.25s animateThree ease both;
          }

          &.four {
            animation: 0.25s animateFour ease both;
          }

          &.five {
            animation: 0.25s animateFive ease both;
          }

          &.six {
            animation: 0.25s animateSix ease both;
          }

          &.seven {
            animation: 0.25s animateSeven ease both;
          }

          &.eight {
            animation: 0.25s animateEight ease both;
          }

          &.nine {
            animation: 0.25s animateNine ease both;
          }
        }
        .earth {
          position: absolute;
          top: 30rem;
          left: -4.5rem;
          width: 340px;
        }
      }

      .resend__code {
        margin-top: 0;
        top: 20rem;
        left: 4rem;

        h4 {
          font-size: 1.25rem !important;
        }

        h6 {
          font-size: 0.85rem !important;
        }
      }
    }

    .third__page__inner {
      .top__area {
        margin: 25px 0 0 35px;
      }
      .social__accounts {
        transform: translate(-50%);
      }
      .astronaut__lottie {
        top: 20%;
        transform: rotate(45deg);
      }

      .phone__input {
        margin: 2.5rem 2rem;

        .react-tel-input {
          .country-list {
            width: calc(100vw - 4rem);
          }
        }

        h6 {
          padding-left: 50px;
          font-size: 18px;
        }
      }
    }

    .fourth__page__inner {
      .top__area {
        margin: 25px 0 0 35px;
      }

      .select__classes {
        margin: 40px;
        .class__item {
          img {
            width: 50px;
            height: 50px;
          }
          h6 {
            font-size: 1.25rem;
          }
        }
      }

      .gulu {
        bottom: 28%;
        width: 300px;
      }

      .mars {
        width: 75%;
      }
    }
  }

  @media screen and (max-width: 500px) {
    .error__message {
      font-size: 14px;
    }
    .first__page__inner {
      .top__area {
        justify-content: flex-end;
      }
      padding-top: 45px;
      min-height: 100vh;
      max-height: 100vh;
    }
    .second__page__inner {
      .top__area {
        margin: 15px 10px 0 10px;
      }
      .otp__input {
        margin-top: 2rem;

        .sent__to,
        .already__exists {
          margin-left: 20px;
          font-size: 12px;
        }
        div div {
          margin: auto 17.5px;
          justify-content: space-between;
          div {
            width: calc(calc(100% - 35px) / 3) !important;
            height: 42px;

            input {
              width: 100% !important;
              height: 40px;
              font-size: 34px;
              text-align: center;
            }
          }
        }
      }

      .planets__wrapper {
        margin-top: 2.5rem;
        .planet1 {
          width: 80px;
          height: 80px;
          top: 6rem;
          right: 1rem;
        }

        .planet2 {
          width: 70px;
          height: 70px;
          top: 1rem;
          left: 5%;
        }
        .planet3 {
          width: 55px;
          height: 55px;
          top: 10rem;
          left: 3.5%;
        }
        .planet4 {
          width: 30px;
          height: 30px;
          top: 8rem;
          left: 22%;
        }

        .planet5 {
          width: 70px;
          height: 70px;
          top: 0rem;
          right: 5%;
        }

        .planet6 {
          width: 80px;
          height: 80px;
          top: 4rem;
          left: 35%;
        }
      }
      .enter__code {
        min-height: 180vw;
        .code {
          max-width: 72.5%;
          top: -2rem;
          left: 23%;
        }
        .tapBg {
          width: 15px;
          height: 15px;
          top: 55%;
          left: 60%;

          &.zero {
            animation: 0.25s animateTap2Zero ease both;
          }
          &.one {
            animation: 0.25s animateTap2One ease both;
          }
          &.two {
            animation: 0.25s animateTap2Two ease both;
          }
          &.three {
            animation: 0.25s animateTap2Three ease both;
          }
          &.four {
            animation: 0.25s animateTap2Four ease both;
          }
          &.five {
            animation: 0.25s animateTap2Five ease both;
          }
          &.six {
            animation: 0.25s animateTap2Six ease both;
          }
          &.seven {
            animation: 0.25s animateTap2Seven ease both;
          }
          &.eight {
            animation: 0.25s animateTap2Eight ease both;
          }
          &.nine {
            animation: 0.25s animateTap2Nine ease both;
          }
        }
        .hand {
          width: 75%;
          position: absolute;
          top: 15%;
          right: -25%;

          &.zero {
            animation: 0.25s animate2Zero ease;
          }
          &.one {
            animation: 0.25s animate2One ease;
          }
          &.two {
            animation: 0.25s animate2Two ease;
          }
          &.three {
            animation: 0.25s animate2Three ease;
          }
          &.four {
            animation: 0.25s animate2Four ease;
          }
          &.five {
            animation: 0.25s animate2Five ease;
          }
          &.six {
            animation: 0.25s animate2Six ease;
          }
          &.seven {
            animation: 0.25s animate2Seven ease;
          }
          &.eight {
            animation: 0.25s animate2Eight ease;
          }
          &.nine {
            animation: 0.25s animate2Nine ease;
          }
        }

        .earth {
          bottom: 3.5%;
          top: auto;
          left: -15%;
          width: 84%;
        }
      }

      .resend__code {
        margin-top: 35%;
        top: 15% !important;
        left: 5% !important;

        h4 {
          font-size: 1rem !important;
        }

        h6 {
          font-size: 0.8rem !important;
        }
      }
    }

    .third__page__inner {
      .top__area {
        margin: 15px 0 0 10px;
      }
      .social__accounts {
        transform: translate(-50%) scale(0.9);
      }
      .astronaut__lottie {
        top: 30%;
        transform: rotate(45deg) scale(1.25);
      }

      .phone__input {
        margin: 2.5rem 2rem;

        .react-tel-input {
          .country-list {
            width: calc(100vw - 4rem);
          }
        }

        h6 {
          padding-left: 10px;
          font-size: 14px;
        }
      }
    }

    .fourth__page__inner {
      .top__area {
        margin: 15px 0 0 10px;
      }

      .select__classes {
        margin: 30px 20px;
        .class__item {
          img {
            width: 40px;
            height: 40px;
          }
          h6 {
            font-size: 1.1rem;
          }
        }
      }

      .gulu {
        bottom: 18%;
        width: 220px;
      }

      .mars {
        width: 85%;
      }
    }
  }
}

.stars__background {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 0;

  .stars,
  .twinkling {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  .stars {
    background: #000 url(../../../assets/onboarding/stars.png) repeat top center;
    z-index: 0;
  }

  .twinkling {
    background: transparent url(../../../assets/onboarding/twinkling.png) repeat
      top center;
    z-index: 1;

    -moz-animation: move-twink-back 300s linear infinite;
    -ms-animation: move-twink-back 300s linear infinite;
    -o-animation: move-twink-back 300s linear infinite;
    -webkit-animation: move-twink-back 300s linear infinite;
    animation: move-twink-back 300s linear infinite;
  }
}

@keyframes cometAnimation {
  0% {
    right: -30%;
    top: 10%;
  }

  100% {
    right: 130%;
    top: 70%;
  }
}

@keyframes comet2Animation {
  0% {
    left: -15%;
    top: 60%;
  }

  100% {
    left: 115%;
    top: 100%;
  }
}

@keyframes guluAnimation {
  0%,
  100% {
    transform: scale(1.15) translate(-2.5%);
  }
  50% {
    transform: scale(1) translate(0%, 10%);
  }
}

@keyframes marsAnimation {
  0%,
  100% {
    transform: scale(1.25) translate(-5%);
  }
  50% {
    transform: scale(1) translate(10%);
  }
}

@keyframes animateZero {
  0%,
  75% {
    top: 8.5rem;
    right: -2.85rem;
  }
}

@keyframes animateOne {
  0%,
  75% {
    top: 4rem;
    right: -1.5rem;
  }
}

@keyframes animateTwo {
  0%,
  75% {
    top: 4rem;
    right: -3rem;
  }
}

@keyframes animateThree {
  0%,
  75% {
    top: 4rem;
    right: -4.25rem;
  }
}

@keyframes animateFour {
  0%,
  75% {
    top: 5.25rem;
    right: -1.5rem;
  }
}

@keyframes animateFive {
  0%,
  75% {
    top: 5.25rem;
    right: -2.75rem;
  }
}

@keyframes animateSix {
  0%,
  75% {
    top: 5.5rem;
    right: -4.5rem;
  }
}

@keyframes animateSeven {
  0%,
  75% {
    top: 7rem;
    right: -1.5rem;
  }
}

@keyframes animateEight {
  0%,
  75% {
    top: 7rem;
    right: -3rem;
  }
}

@keyframes animateNine {
  0%,
  75% {
    top: 7rem;
    right: -4.5rem;
  }
}

@keyframes animateTapZero {
  0%,
  75% {
    top: 19.9rem;
    left: 62%;
    opacity: 1;
  }
}

@keyframes animateTapOne {
  0%,
  75% {
    top: 15.5rem;
    left: 59%;
    opacity: 1;
  }
}

@keyframes animateTapTwo {
  0%,
  75% {
    top: 15.5rem;
    left: 62%;
    opacity: 1;
  }
}

@keyframes animateTapThree {
  0%,
  75% {
    top: 15.5rem;
    left: 65%;
    opacity: 1;
  }
}

@keyframes animateTapFour {
  0%,
  75% {
    top: 17rem;
    left: 59%;
    opacity: 1;
  }
}

@keyframes animateTapFive {
  0%,
  75% {
    top: 17rem;
    left: 62%;
    opacity: 1;
  }
}

@keyframes animateTapSix {
  0%,
  75% {
    top: 17rem;
    left: 65%;
    opacity: 1;
  }
}

@keyframes animateTapSeven {
  0%,
  75% {
    top: 18.5rem;
    left: 59%;
    opacity: 1;
  }
}

@keyframes animateTapEight {
  0%,
  75% {
    top: 18.5rem;
    left: 62%;
    opacity: 1;
  }
}

@keyframes animateTapNine {
  0%,
  75% {
    top: 18.5rem;
    left: 65%;
    opacity: 1;
  }
}

@keyframes increaseListHeight {
  0% {
    max-height: 80px;
  }

  100% {
    max-height: 200px;
  }
}

@keyframes animatePlanet {
  0%,
  100% {
    transform: translate(-5px, 5px);
  }

  50% {
    transform: translate(5px, -5px);
  }
}

@keyframes animatePlanet2 {
  0%,
  100% {
    transform: translate(-7px, -3px);
  }

  50% {
    transform: translate(7px, 3px);
  }
}

@keyframes swingNumber {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes animate2Zero {
  0%,
  75% {
    top: 15%;
    right: -17%;
  }
}

@keyframes animate2One {
  0%,
  75% {
    top: 7%;
    right: -13%;
  }
}

@keyframes animate2Two {
  0%,
  75% {
    top: 7%;
    right: -16%;
  }
}

@keyframes animate2Three {
  0%,
  75% {
    top: 7%;
    right: -20%;
  }
}

@keyframes animate2Four {
  0%,
  75% {
    top: 9.5%;
    right: -13%;
  }
}

@keyframes animate2Five {
  0%,
  75% {
    top: 9.5%;
    right: -16%;
  }
}

@keyframes animate2Six {
  0%,
  75% {
    top: 9.5%;
    right: -20%;
  }
}

@keyframes animate2Seven {
  0%,
  75% {
    top: 12%;
    right: -13%;
  }
}

@keyframes animate2Eight {
  0%,
  75% {
    top: 12%;
    right: -16%;
  }
}

@keyframes animate2Nine {
  0%,
  75% {
    top: 12%;
    right: -20%;
  }
}

@keyframes animateTap2Zero {
  0%,
  75% {
    top: 34.5%;
    left: 58.5%;
    opacity: 1;
  }
}

@keyframes animateTap2One {
  0%,
  75% {
    top: 26%;
    left: 54%;
    opacity: 1;
  }
}

@keyframes animateTap2Two {
  0%,
  75% {
    top: 26%;
    left: 58%;
    opacity: 1;
  }
}

@keyframes animateTap2Three {
  0%,
  75% {
    top: 26%;
    left: 62%;
    opacity: 1;
  }
}

@keyframes animateTap2Four {
  0%,
  75% {
    top: 29%;
    left: 54%;
    opacity: 1;
  }
}

@keyframes animateTap2Five {
  0%,
  75% {
    top: 29%;
    left: 58%;
    opacity: 1;
  }
}

@keyframes animateTap2Six {
  0%,
  75% {
    top: 29%;
    left: 62%;
    opacity: 1;
  }
}

@keyframes animateTap2Seven {
  0%,
  75% {
    top: 31.8%;
    left: 54%;
    opacity: 1;
  }
}

@keyframes animateTap2Eight {
  0%,
  75% {
    top: 31.8%;
    left: 58.2%;
    opacity: 1;
  }
}

@keyframes animateTap2Nine {
  0%,
  75% {
    top: 31.8%;
    left: 62%;
    opacity: 1;
  }
}

@keyframes peekErrorUp {
  0% {
    transform: translateY(-25px);
    opacity: 0;
  }

  7.5% {
    transform: translateY(0px);
    opacity: 1;
  }

  92.5% {
    transform: translateY(0px);
    opacity: 1;
  }

  100% {
    transform: translateY(-25px);
    opacity: 0;
  }
}

@keyframes moveForward {
  0% {
    transform: rotate(270deg) translateY(5px);
  }
  100% {
    transform: rotate(270deg) translateY(-220px);
  }
}

@keyframes moveForward2 {
  0% {
    transform: rotate(270deg) translateY(5px);
  }
  100% {
    transform: rotate(270deg) translateY(-130px);
  }
}
