.commentLoader {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10px;
  padding-right: 12px;
}

.commentLoader__dots {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
